{% extends 'base/base.html' %}
{% load static %}
{% block title %} Tribe | Feeds {% endblock %}


{% block content %}	
		<!-- begin:: Page -->
		<div class="kt-grid kt-grid--hor kt-grid--root">
			<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">

				<!-- begin:: Aside Menu -->
				{% include 'base/nav.aside.html' %}
				<!-- end:: Aside -->
				
				<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">

					<!-- begin:: Header -->
					<div id="kt_header" class="kt-header kt-grid__item  kt-header--fixed ">

						<!-- begin:: Header Menu -->
						<button class="kt-header-menu-wrapper-close" id="kt_header_menu_mobile_close_btn"><i class="la la-close"></i></button>
						<div class="kt-header-menu-wrapper" id="kt_header_menu_wrapper">
							<div id="kt_header_menu" class="kt-header-menu kt-header-menu-mobile  kt-header-menu--layout-default ">
								<ul class="kt-menu__nav ">
									<li class="kt-menu__item  kt-menu__item--submenu kt-menu__item--rel kt-menu__item--active" data-ktmenu-submenu-toggle="click" aria-haspopup="true"><a href="javascript:;" class="kt-menu__link kt-menu__toggle"><span class="kt-menu__link-text">Feeds</span><i class="kt-menu__ver-arrow la la-angle-right"></i></a>
									</li>
								</ul>
							</div>
						</div>

						<!-- end:: Header Menu -->

					<!-- Header Topbar -->
					{% include 'base/nav.topheader.html' %}
					<!-- End Header -->
					<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">

						<!-- begin:: Content Head -->
						<div class="kt-subheader   kt-grid__item" id="kt_subheader">
							<div class="kt-subheader__main">
								<h3 class="kt-subheader__title">
									Feeds
								</h3>
								<span class="kt-subheader__separator kt-subheader__separator--v"></span>
								<div class="kt-subheader__group" id="kt_subheader_search">
									<span class="kt-subheader__desc" id="kt_subheader_total">
										{{ pitches|length }} Total </span>
									<form class="kt-margin-l-20" id="kt_subheader_search_form">
										<div class="kt-input-icon kt-input-icon--right kt-subheader__search">
											<input type="text" class="form-control" placeholder="Search..." id="generalSearch">
											<span class="kt-input-icon__icon kt-input-icon__icon--right">
												<span>
													<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
														<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
															<rect id="bound" x="0" y="0" width="24" height="24" />
															<path d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z" id="Path-2" fill="#000000" fill-rule="nonzero" opacity="0.3" />
															<path d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z" id="Path" fill="#000000" fill-rule="nonzero" />
														</g>
													</svg>

													<!--<i class="flaticon2-search-1"></i>-->
												</span>
											</span>
										</div>
									</form>
								</div>
								<div class="kt-subheader__group kt-hidden" id="kt_subheader_group_actions">
									<div class="kt-subheader__desc"><span id="kt_subheader_group_selected_rows"></span> Selected:</div>
									<div class="btn-toolbar kt-margin-l-20">
										<div class="dropdown" id="kt_subheader_group_actions_status_change">
											<button type="button" class="btn btn-label-brand btn-bold btn-sm dropdown-toggle" data-toggle="dropdown">
												Update Status
											</button>
											<div class="dropdown-menu">
												<ul class="kt-nav">
													<li class="kt-nav__section kt-nav__section--first">
														<span class="kt-nav__section-text">Change status to:</span>
													</li>
													<li class="kt-nav__item">
														<a href="#" class="kt-nav__link" data-toggle="status-change" data-status="1">
															<span class="kt-nav__link-text"><span class="kt-badge kt-badge--unified-success kt-badge--inline kt-badge--bold">Approved</span></span>
														</a>
													</li>
													<li class="kt-nav__item">
														<a href="#" class="kt-nav__link" data-toggle="status-change" data-status="2">
															<span class="kt-nav__link-text"><span class="kt-badge kt-badge--unified-danger kt-badge--inline kt-badge--bold">Rejected</span></span>
														</a>
													</li>
													<li class="kt-nav__item">
														<a href="#" class="kt-nav__link" data-toggle="status-change" data-status="3">
															<span class="kt-nav__link-text"><span class="kt-badge kt-badge--unified-warning kt-badge--inline kt-badge--bold">Pending</span></span>
														</a>
													</li>
													<li class="kt-nav__item">
														<a href="#" class="kt-nav__link" data-toggle="status-change" data-status="4">
															<span class="kt-nav__link-text"><span class="kt-badge kt-badge--unified-info kt-badge--inline kt-badge--bold">On Hold</span></span>
														</a>
													</li>
												</ul>
											</div>
										</div>
										<button class="btn btn-label-success btn-bold btn-sm btn-icon-h" id="kt_subheader_group_actions_fetch" data-toggle="modal" data-target="#kt_datatable_records_fetch_modal">
											Fetch Selected
										</button>
										<button class="btn btn-label-danger btn-bold btn-sm btn-icon-h" id="kt_subheader_group_actions_delete_all">
											Delete All
										</button>
									</div>
								</div>
							</div>
							<div class="kt-subheader__toolbar">
								<a href="#" class="">
								</a>
								<!-- <a href="demo1/custom/apps/user/add-user.html" class="btn btn-label-brand btn-bold">
									Invite </a> -->
								<button type="button" class="btn btn-bold btn-label-brand btn-sm" data-toggle="modal" data-target="#kt_modal_4">Invite</button>
								<div class="kt-subheader__wrapper">
									<div class="dropdown dropdown-inline" data-toggle="kt-tooltip-" title="Quick actions" data-placement="left">
										<a href="#" class="btn btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											<!-- <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon kt-svg-icon--success kt-svg-icon--md">
												<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
													<polygon id="Shape" points="0 0 24 0 24 24 0 24" />
													<path d="M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z" id="Combined-Shape" fill="#000000" fill-rule="nonzero" opacity="0.3" />
													<path d="M11,14 L9,14 C8.44771525,14 8,13.5522847 8,13 C8,12.4477153 8.44771525,12 9,12 L11,12 L11,10 C11,9.44771525 11.4477153,9 12,9 C12.5522847,9 13,9.44771525 13,10 L13,12 L15,12 C15.5522847,12 16,12.4477153 16,13 C16,13.5522847 15.5522847,14 15,14 L13,14 L13,16 C13,16.5522847 12.5522847,17 12,17 C11.4477153,17 11,16.5522847 11,16 L11,14 Z" id="Combined-Shape" fill="#000000" />
												</g>
											</svg> -->

											<!--<i class="flaticon2-plus"></i>-->
										</a>
										<div class="dropdown-menu dropdown-menu-fit dropdown-menu-md dropdown-menu-right">
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- end:: Content Head -->

						<!-- begin:: Content -->
						<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">

							{% for pitch in pitches %}

							<!--begin:: Widgets/Applications/User/Profile3-->
							<div class="kt-portlet">
								<div class="kt-portlet__body">
									<div class="kt-widget kt-widget--user-profile-3">
										<div class="kt-widget__top">
											<div class="kt-widget__media kt-hidden-">
												<img src="{% static 'assets/media/users/100_1.jpg' %}" alt="image">
											</div>
											<div class="kt-widget__pic kt-widget__pic--danger kt-font-danger kt-font-boldest kt-font-light kt-hidden">												
											</div>
											<div class="kt-widget__content">
												<div class="kt-widget__head">
													<a href="#" class="kt-widget__username">
														{{ pitch.title }}
														<i class="flaticon2-correct kt-font-success"></i>
													</a>
													<div class="kt-widget__action">
														<!-- <button type="button" class="btn btn-label-success btn-sm btn-upper">ask</button>&nbsp; -->
														<a href="#" class="btn btn-brand btn-sm btn-upper">connect</a>
													</div>
												</div>
												<div class="kt-widget__subhead">
													<a href="#"><i class="flaticon-avatar"></i>{{ pitch.entrepreneur }} - <small><strong>{{ pitch.skills }}</strong></small></a>
												</div>
												<div class="kt-widget__info">
													<div class="kt-widget__desc">
														{{ pitch.body }}
													</div>
													<!-- <div class="kt-widget__progress">
														<div class="kt-widget__text">
															Progress
														</div>
														<div class="progress" style="height: 5px;width: 100%;">
															<div class="progress-bar kt-bg-success" role="progressbar" style="width: 65%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
														</div>
														<div class="kt-widget__stats">
															78%
														</div>
													</div> -->
												</div>
											</div>
										</div>
										<!-- <div class="kt-widget__bottom">
											<div class="kt-widget__item">
												<div class="kt-widget__icon">
													<i class="flaticon-piggy-bank"></i>
												</div>
												<div class="kt-widget__details">
													<span class="kt-widget__title">Earnings</span>
													<span class="kt-widget__value"><span>$</span>249,500</span>
												</div>
											</div>
											<div class="kt-widget__item">
												<div class="kt-widget__icon">
													<i class="flaticon-confetti"></i>
												</div>
												<div class="kt-widget__details">
													<span class="kt-widget__title">Expenses</span>
													<span class="kt-widget__value"><span>$</span>164,700</span>
												</div>
											</div>
											<div class="kt-widget__item">
												<div class="kt-widget__icon">
													<i class="flaticon-pie-chart"></i>
												</div>
												<div class="kt-widget__details">
													<span class="kt-widget__title">Net</span>
													<span class="kt-widget__value"><span>$</span>782,300</span>
												</div>
											</div> -->
											<!-- <div class="kt-widget__item">
												<div class="kt-widget__icon">
													<i class="flaticon-file-2"></i>
												</div>
												<div class="kt-widget__details">
													<span class="kt-widget__title">73 Tasks</span>
													<a href="#" class="kt-widget__value kt-font-brand">View</a>
												</div>
											</div> -->
											<!-- <div class="kt-widget__item">
												<div class="kt-widget__icon">
													<i class="flaticon-chat-1"></i>
												</div>
												<div class="kt-widget__details">
													<span class="kt-widget__title">648 Comments</span>
													<a href="#" class="kt-widget__value kt-font-brand">View</a>
												</div>
											</div> -->
											<!-- <div class="kt-widget__item">
												<div class="kt-widget__icon">
													<i class="flaticon-network"></i>
												</div>
												<div class="kt-widget__details">
													<div class="kt-section__content kt-section__content--solid">
														<div class="kt-badge kt-badge__pics">
															<a href="#" class="kt-badge__pic" data-toggle="kt-tooltip" data-skin="brand" data-placement="top" title="" data-original-title="John Myer">
																<img src="{% static 'assets/media/users/100_7.jpg' %}" alt="image">
															</a>
															<a href="#" class="kt-badge__pic" data-toggle="kt-tooltip" data-skin="brand" data-placement="top" title="" data-original-title="Alison Brandy">
																<img src="{% static 'assets/media/users/100_3.jpg' %}" alt="image">
															</a>
															<a href="#" class="kt-badge__pic" data-toggle="kt-tooltip" data-skin="brand" data-placement="top" title="" data-original-title="Selina Cranson">
																<img src="{% static 'assets/media/users/100_2.jpg' %}" alt="image">
															</a>
															<a href="#" class="kt-badge__pic" data-toggle="kt-tooltip" data-skin="brand" data-placement="top" title="" data-original-title="Luke Walls">
																<img src="{% static 'assets/media/users/100_13.jpg' %}" alt="image">
															</a>
															<a href="#" class="kt-badge__pic" data-toggle="kt-tooltip" data-skin="brand" data-placement="top" title="" data-original-title="Micheal York">
																<img src="{% static 'assets/media/users/100_4.jpg' %}" alt="image">
															</a>
															<a href="#" class="kt-badge__pic kt-badge__pic--last kt-font-brand">
																+7
															</a>
														</div>
													</div>
												</div>
											</div> -->
										<!-- </div> -->
									</div>
								</div>								
							</div>
							{% endfor %}

							<!--end:: Widgets/Applications/User/Profile3-->

							<!--Begin::Section-->
							<div class="row">
								<div class="col-xl-12">

									<!--begin:: Components/Pagination/Default-->
									<div class="kt-portlet">
										<div class="kt-portlet__body">

											<!--begin: Pagination-->
											<div class="kt-pagination kt-pagination--brand">
												<ul class="kt-pagination__links">
													<li class="kt-pagination__link--first">
														<a href="#"><i class="fa fa-angle-double-left kt-font-brand"></i></a>
													</li>
													<li class="kt-pagination__link--next">
														<a href="#"><i class="fa fa-angle-left kt-font-brand"></i></a>
													</li>
													<li>
														<a href="#">...</a>
													</li>
													<li>
														<a href="#">29</a>
													</li>
													<li>
														<a href="#">30</a>
													</li>
													<li class="kt-pagination__link--active">
														<a href="#">31</a>
													</li>
													<li>
														<a href="#">32</a>
													</li>
													<li>
														<a href="#">33</a>
													</li>
													<li>
														<a href="#">34</a>
													</li>
													<li>
														<a href="#">...</a>
													</li>
													<li class="kt-pagination__link--prev">
														<a href="#"><i class="fa fa-angle-right kt-font-brand"></i></a>
													</li>
													<li class="kt-pagination__link--last">
														<a href="#"><i class="fa fa-angle-double-right kt-font-brand"></i></a>
													</li>
												</ul>
												<div class="kt-pagination__toolbar">
													<select class="form-control kt-font-brand" style="width: 60px">
														<option value="10">10</option>
														<option value="20">20</option>
														<option value="30">30</option>
														<option value="50">50</option>
														<option value="100">100</option>
													</select>
													<span class="pagination__desc">
														Displaying 10 of 230 records
													</span>
												</div>
											</div>

											<!--end: Pagination-->
										</div>
									</div>

									<!--end:: Components/Pagination/Default-->
								</div>
							</div>

							<!--End::Section-->
						</div>

						<!-- end:: Content -->
					</div>

					<!-- begin:: Footer -->
					{% include 'base/footer.html' %}
					<!-- end:: Footer -->
				</div>
			</div>
		</div>

		<!-- end:: Page -->

		<!-- MODALS -->
		{% include 'base/modals.html' %}
		<!-- End Modals -->

		
		<!-- QuickPanel -->
		{% include 'base/quickpanel.html' %}
		<!-- end::Quick Panel -->

		<!-- begin::Scrolltop -->
		<div id="kt_scrolltop" class="kt-scrolltop">
			<i class="fa fa-arrow-up"></i>
		</div>

		<!-- end::Scrolltop -->

{% endblock %}